html, body {
    margin: 0;
    padding: 0;
    background-color: White;
    overflow: auto;
}
body {
    font: 11px Helvetica, Arial, sans-serif;
}
#myGrid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    #description {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 25em;
    background: beige;
    border: solid 1px gray;
    z-index: 1000;
}
#description h2 {
    padding-left: 0.5em;
}
